@import 'bourbon/bourbon';
@import 'mixins';

/*
  - images
  - fonts
  - colors
  - buttons
  - base styles
*/

// IMAGES
img { display: inherit; }
.alignleft, img.alignleft     { float: left; margin: 0 1rem 1rem 0;  }
.alignright, img.alignright   { float: right; margin: 0 0 1rem 1rem; }
.aligncenter, img.aligncenter { float: none; margin: 0 auto 1rem; }
.alignnone, img.alignnone     { float: none; margin: 0 auto; }

// FONTS
@include font-face('avenir','../fonts/avenir/AvenirLTStd-Roman');
@include font-face('avenir-heavy','../fonts/avenir/AvenirLTStd-Black');
@include font-face('brandon','../fonts/brandon-grostesque/brandon-grostesque');
@include font-face('quickpen','../fonts/trial/trial-webfont');

$base-font-size:  15px;
$line-height:     26px;
$heading-scale:   4;

.script-txt { font-family: 'quickpen', sans-serif; text-transform: lowercase; }

// COLORS
$white:		#fff;
$black:		#000;
$ltgray:	#6d6e71;
$ultgray: tint($ltgray, 90);
$yellow:	#ffdf4f;
$orange: 	#f57a23;
$dkblue:	#435360;
$aqua:		#30b0e5;
$ltblue:	tint(#82cbe1,20);
$peach:	  #f58b70;
$tan:		  #f5f4ef;

.peach-txt { color: $peach; }
.blue-txt  { color: $ltblue; }
.orange-txt { color: $orange; }

.ultgray-bg { background: $ultgray; }
.ltgray-bg { background: $ltgray; }
.ltblue-bg { background: $ltblue; color: $white;
	&:hover  { color: $ltgray; }
}
.aqua-bg   { background: $aqua; }
.peach-bg  { background: $peach; color: $white; }
.dkblue-bg { background: $dkblue; color: $white; }


// BUTTONS
.btn { text-transform: uppercase; font-size: 1em; transition: all 666ms ease-in-out;
  &.outline-btn { border: 1px solid $ltgray; color: $ltgray; padding: 6px 2rem 3px; border-radius: 20px;
    &:hover { color: $ltgray; border-color: $ltgray; }

		&.white-btn { border-color: $white; color: $white; }
	}
	&.yellow-btn { background: $yellow; color: $black; }
	&.ltblue-btn { background: #82cbe1; color: $white; }

	&:focus { outline: none !important; }
}


// Base Styles
html, body { overflow: auto;
	&.stuck { overflow: hidden; }
}
body {
	font-family: 'avenir', sans-serif; font-size: $base-font-size; line-height: $line-height; -webkit-font-smoothing: antialiased;
	-moz-osx-font-smooting: grayscale; color: $ltgray; background: $white;

	@include headings($base-font-size, $heading-scale - 1);
	h1 {
		em { font-family: 'quickpen', }
	}
	a { transition: all 666ms ease-in-out;
		&:hover { text-decoration: none; }
	}
	p { margin: 0 0 10px; }
}
.nomobile { display: none; }

.page-divider,
.homepage-divider { flex-basis: 60%; }
.sub-heading { text-transform: uppercase; font-family: 'avenir'; font-size: 18px; margin: 2.5rem 0; flex-grow: 1; flex-basis: 100%; text-align: center; }



/*
Extra small devices (portrait phones, less than 576px)
No media query...Bootstrap default
*/

/*** SMALL DEVICES : Landscape phones, 576px + ***/
@media (min-width: 576px){
	body {
		@include headings($base-font-size, $heading-scale * 1.25);
	}
}

/*** MEDIUM DEVICES : Tablets, 768px + ***/
@media (min-width: 768px){

}

/*** LARGE DEVICES : Desktops, 992px and up ***/
@media (min-width: 992px){
 .nomobile { display: block; }
}

/*** EXTRA LARGE DEVICES : Large Desktops, 1200px + ***/
@media (min-width: 1200px){

}


/*
:::::::::: CUSTOM MEDIA QUERIES IF NEEDED ::::::::::
*/
