@import 'design';
@import 'forms';
@import 'navigation';

// TABLE OF CONTENTS
/***
- Header: see navigation.scss
- Homepage Styles
-
-
-
-
-
- Footer Styles
***/


// Homepage Styles
.homepage-section { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
	&.homepage-content-section { padding: 4.25vh 0;
		.homepage-container { flex-basis: 85%; text-align: center;
			p { margin-bottom: 2rem; line-height: 29px; }
			a { color: $aqua;
				&:hover { color: $ltblue; }
			}
		}
	}
	&.homepage-callout-section {
		.callout-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
			.homepage-callout { flex-basis: 90%; margin-bottom: 2rem; text-align: center;
				.callout-image { margin-bottom: 1.5rem; }
				h2 { font-family: 'avenir'; text-transform: uppercase; font-size: 24px; }
				p  { padding: 0 1.25rem; }
				.arrow-link { color: $ltblue;
					svg { width: 30px; height: 21px;
						#arrow { stroke: $aqua; }
					}
				}
			}
		}
	}
	&.homepage-location-section {
		.location-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: stretch;
			.location-left-contents { padding: 4.5rem 3rem;
				h2 { font-size: 30px; line-height: 36px; }
				p { margin-bottom: 2rem; line-height: 29px; }
			}
			.location-right {
				.map-image { margin-bottom: 0; }
			}
		}
	}
}

// Page Styles
.page-section { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
	&.page-content-section { padding: 4.25vh 0;
		.page-content-container { text-align: center; flex-basis: 80%;
			h1 { font-size: 36px; }
			p  { margin-bottom: 1.5rem; line-height: 29px; }
			ul { list-style-position: inside; margin: 1rem 0; padding: 0;
				li { padding: .25rem 0; }
			}
			.builder-location,
			.builder-hours {
				strong { text-transform: uppercase; }
			}
			a { color: $aqua;
				&:hover { color: $ltblue; }
			}
		}
		.sub-heading { margin-bottom: 0; }
	}
	&.education-section {
		.education-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
			.education-image { margin-bottom: 0; }
			.education-content { padding: 4.5rem 3rem; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
				.education-content-container {
					h2 { font-size: 36px; line-height: 36px; }
					p { margin-bottom: 1.5rem; line-height: 29px; text-align: left;
						a { color: $dkblue; }
					}
				}
			}
		}
	}

	// Homes page styles
	&.page-builders {
		.builder-container { flex-basis: 90%;
			.builder { text-align: center; margin-bottom: 2rem;
				p { padding: 0 2rem; margin-bottom: 1.25rem; }
				.collection { font-style: italic; line-height: 1.35em;
					strong { text-transform: uppercase; font-weight: normal; font-style: normal; font-size: 1.1em; }
				}
				.pricing { flex-grow: 1; flex-basis: 100%; border-top: 1px solid $aqua; border-bottom: 1px solid $aqua; padding: .5rem 0 .25rem; text-transform: uppercase;
					color: $aqua; font-weight: normal; }
			}
		}

		// QMI Homes Styles
		&.page-qmi {
			.builder-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
				.builder { margin-left: .75rem; margin-right: .75rem; }
			}
		}
	}

	// Builder detail styles
	&.builder-heroimage { position: relative;
		.builder-logo { padding: 1rem; position: absolute; bottom: -30px;
			img { width: 50%; margin: 0 auto; }
		}
	}
	&.builder-plan-section {
		.plan-container { flex-basis: 90%;
			.builder-plan { text-align: center; margin-bottom: 2rem;
				.plan-information {
					p { padding: 0 2rem; margin-bottom: 1.25rem; }
					.collection { font-style: italic; line-height: 1.35em;
						strong { text-transform: uppercase; font-weight: normal; font-style: normal; font-size: 1.1em; }
					}
					.pricing { flex-grow: 1; flex-basis: 100%; border-top: 1px solid $aqua; border-bottom: 1px solid $aqua; padding: .5rem 0 .25rem; text-transform: uppercase;
						color: $aqua; }
				}
			}
		}
	}
	&.builder-gallery-section { display: block;
		.gallery-container { flex-basis: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
			.envira-gallery-wrap { flex-basis: 100%; margin-bottom: 0;
				.envira-gallery-public { margin-bottom: 0; }
			}
		}
	}

	// Location Page Styles
	&.location-map-section { min-height: 50vh; position: relative;
		.map-container { flex-basis: 100%; flex-grow: 1; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			.mapboxgl-popup { max-width: 300px !important;
				.mapboxgl-popup-content { padding: 1.5rem 2rem; text-align: center; background: $peach; color: $white;
					h1 { font-size: 28px; }
					.btn { font-size: 15px; padding-left: .9rem; padding-right: .9rem; }
					.mapboxgl-popup-close-button { font-size: 20px; color: $white; }
				}
				.mapboxgl-popup-tip { border-top-color: $peach; }
			}
		}
	}
	&.location-images {
		.aligncenter { margin-bottom: 0; }
	}

	// News Page Styles
	&.blog-header { margin-top: 60px; padding: 2rem 0;
		h1, h3 { flex-basis: 100%; flex-grow: 1; text-align: center; }
		h1 { font-size: 36px; margin-bottom: 10px; }
		h3 { font-size: 18px; font-family: 'avenir'; text-transform: uppercase; margin-bottom: 0; }
	}
	&.article-section {
		.article-container { flex-basis: 100%; flex-grow: 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: stretch;
			.blog-post { flex-basis: 100%; flex-grow: 1;
				&.card { width: 100%; min-height: 500px; cursor: pointer; position: relative; border: none; border-radius: 0;
					.front, .back { width: 100%; height: 100%; position: absolute; overflow: hidden; backface-visibility: hidden; transition: transform .5s linear; }
					figure { margin-bottom: 0; }

					&:hover > .front { transform: perspective(600px) rotateY(-180deg); }
					&:hover > .back  { transform: perspective(600px) rotateY(0deg); }

					.front { background: $dkblue; }
					.back { transform: rotateY(180deg); display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
						.back-contents { text-align: center;
							.article-title { font-size: 36px; margin-bottom: 2rem; }
							.postmeta { text-transform: uppercase;
								a { color: $aqua; }
							}
							.arrow-link { color: $aqua;
								svg { width: 30px; height: 21px;
									#arrow { stroke: $aqua; }
								}
							}
						}
					}
				}
			}
		}
	}

	// Single Article Styles
	&.single-article-section { margin-top: 60px; position: relative;
		.static-bar { background: $ultgray; position: absolute; top: 0; left: 0; right: 0; min-height: 350px; z-index: -1; }
		.article-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding-top: 2.5vh;
			.single-article { flex-basis: 90%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
				.article-title, .meta { flex-basis: 100%; flex-grow: 1; }
				.article-title { font-size: 36px; text-align: center; }
				.meta { text-align: center; text-transform: uppercase; font-weight: bold; }
				.article-image { margin: 2rem 0 3rem; }
				.article-content { text-align: center; padding-bottom: 3rem; flex-basis: 80%; }
			}
		}
	}
}

// Footer Styles
.footer-section { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
	.builder-logo-container { padding: 1rem 0;
		.builder-list { list-style: none; margin: 0; padding: 0; display: flex; flex-wrap: nowrap; justify-content: center; align-items: center;
			.builder { flex-basis: 40%; text-align: center; margin: 0 1.25rem;
				a {
					.aligncenter { margin-bottom: 0; }
				}
			}
		}
	}
}
.footer {
	.footer-top { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 2rem 0;
		.map-image { flex-basis: 90%; }
		.directions-container { text-align: center; flex-basis: 90%; color: $white;
			&:hover { color: $white; }
		}
	}
	.footer-bottom { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; text-align: center; padding: 2rem 0;
		.copyright,
		.footer-copyright { flex-basis: 90%; font-size: .9em; }
	}
}

/*** SMALL DEVICES : Landscape phones, 576px + ***/
@media (min-width: 576px){

}

/*** IPHONE X : Landscape ***/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/*** MEDIUM DEVICES : Tablets, 768px + ***/
@media (min-width: 768px){
	.homepage-section {
		&.homepage-content-section {
			.homepage-container { flex-basis: 70%; }
			.homepage-divider   { flex-basis: 50%; }
		}
		&.homepage-callout-section {
			.callout-container { flex-basis: 80%; flex-wrap: nowrap; justify-content: space-between; align-items: stretch;
				.homepage-callout { flex-basis: 49%; }
			}
		}
		&.homepage-location-section {
			.location-container { flex-wrap: nowrap; align-items: stretch; justify-content: center;
				.location-left-contents,
				.location-right { flex-basis: 50%; }
				.location-left-contents { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 2.5rem 1.5rem;

				}
				.location-right { flex-grow: 1; }
			}
		}
	}

	// Page Styles
	.page-section {
		&.page-content-section {
			.page-content-container { flex-basis: 70%; }
			.page-divider { flex-basis: 50%; }
		}
		&.education-section { margin-bottom: 1.5vh;
			.education-container { flex-basis: 80%; }
		}

		// Homes page styles
		&.page-builders {
			.builder-container { flex-basis: 97.5%; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;
				.builder { flex-basis: 32%;
					p { padding: 0 2rem; margin-bottom: 1.25rem; }
					.collection { font-style: italic; line-height: 1.35em;
						strong { font-size: 1em; }
					}
					.pricing { font-size: .9em; }
					.description { display: none; }
				}
			}
		}

		// Builder detail styles
		&.builder-plan-section {
			.plan-container { flex-basis: 90%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
				.builder-plan { flex-basis: 30%; margin-left: .75%; margin-right: .75%; text-align: center; margin-bottom: 2rem;
					.plan-information {
						p { padding: 0 2rem; margin-bottom: 1.25rem; }
						.plan-details { padding: 0 1rem; }
						.collection { font-style: italic; line-height: 1.35em;
							strong { text-transform: uppercase; font-weight: normal; font-style: normal; font-size: 1.1em; }
						}
						.pricing { flex-grow: 1; flex-basis: 100%; border-top: 1px solid $aqua; border-bottom: 1px solid $aqua; padding: .5rem 0 .25rem; text-transform: uppercase;
							color: $aqua; }
					}
				}
			}
		}
		&.builder-gallery-section { display: block;
			.gallery-container { flex-basis: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
				.envira-gallery-wrap { flex-basis: 100%; margin-bottom: 0;
					.envira-gallery-public { margin-bottom: 0; }
				}
			}
		}

		// News Page Styles
		&.article-section {
			.article-container { flex-basis: 100%; flex-grow: 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: stretch;
				.blog-post { flex-basis: 50%; flex-grow: 1; }
			}
		}
	}

	.footer-section {
		.builder-logo-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
			.builder-list { flex-basis: 85%; }
		}
	}
	.footer {
		.footer-top {
			.map-image { flex-basis: 40%; }
		}
		.footer-bottom {
			.copyright { font-size: .85em; line-height: 1em; }
		}
	}
}

/*** LARGE DEVICES : Desktops, 992px and up ***/
@media (min-width: 992px){
	// Page Styles
	.page-section {
		&.education-section { margin-bottom: 2.5vh;
			.education-container { flex-basis: 90%; flex-wrap: nowrap; align-items: stretch;
				.education-image,
				.education-content { flex-basis: 50%; }
				.education-content { padding: 2rem; font-size: .95em;
					p { margin-bottom: 10px;
						&:last-child { margin-bottom: 0; }
					}
				}
			}
		}
	}
}

/*** EXTRA LARGE DEVICES : Large Desktops, 1200px + ***/
@media (min-width: 1200px){
	.homepage-section {
		&.homepage-content-section {
			.homepage-container { flex-basis: 60%; }
			.homepage-divider   { flex-basis: 50%; }
		}
		&.homepage-location-section {
			.location-container { flex-wrap: nowrap; align-items: stretch; justify-content: center;
				.location-left-contents,
				.location-right { flex-basis: 50%; }
				.location-left-contents { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 2.5rem 5rem; }
				.location-right { flex-grow: 1; }
			}
		}
	}

	// Page Styles
	.page-section {
		&.education-section { margin-bottom: 2.5vh;
			.education-container { flex-basis: 90%; flex-wrap: nowrap; align-items: stretch;
				.education-image,
				.education-content { flex-basis: 50%; }
				.education-content { padding: 2rem; font-size: 1em;
					p { margin-bottom: 10px; text-align: left;
						&:last-child { margin-bottom: 0; }
					}
				}
			}
		}

		// Builder detail styles
		&.builder-heroimage { position: relative; margin-bottom: 3vh;
			.builder-logo { padding: 1rem; position: absolute; bottom: -45px; padding: 1rem 3rem;
				img { width: 80%; margin: 0 auto;  }
			}
		}
		&.builder-plan-section {
			.plan-container { flex-basis: 90%;
				.builder-plan { text-align: center; margin-bottom: 2rem;
					.plan-information {
						p { padding: 0 2rem; margin-bottom: 1.25rem; }
						.collection { font-style: italic; line-height: 1.35em;
							strong { text-transform: uppercase; font-weight: normal; font-style: normal; font-size: 1.1em; }
						}
						.pricing { flex-grow: 1; flex-basis: 100%; border-top: 1px solid $aqua; border-bottom: 1px solid $aqua; padding: .5rem 0 .25rem; text-transform: uppercase;
							color: $aqua; }
					}
				}
			}
		}
		&.builder-gallery-section { display: block;
			.gallery-container { flex-basis: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
				.envira-gallery-wrap { flex-basis: 100%; margin-bottom: 0;
					.envira-gallery-public { margin-bottom: 0; }
				}
			}
		}

		// News Page Styles
		&.blog-header { margin-top: 0; }
		&.article-section {
			.article-container { flex-basis: 100%; flex-grow: 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: stretch;
				.blog-post { flex-basis: 25%; flex-grow: 1;
					&.card { min-height: auto;
						.back {
							.back-contents {
								.article-title { font-size: 30px; margin-bottom: 2rem; padding: 0 5%; }
							}
						}
					}
				}
			}
		}

		// Single Article Styles
		&.single-article-section { margin-top: 0; position: relative;
			.static-bar { background: $ultgray; position: absolute; top: 0; left: 0; right: 0; min-height: 500px; z-index: -1; }
			.article-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding-top: 2.5vh;
				.single-article { flex-basis: 70%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 60px;
					.article-title, .meta { flex-basis: 100%; flex-grow: 1; }
					.article-title { font-size: 36px; text-align: center; }
					.meta { text-align: center; text-transform: uppercase; font-weight: bold; }
					.article-image { margin: 2rem 0 3rem; }
					.article-content { text-align: center; padding-bottom: 3rem; flex-basis: 80%; }
				}
			}
		}
	}
}

/*
:::::::::: CUSTOM MEDIA QUERIES IF NEEDED ::::::::::
*/
